.footer
   background-color: #262032
   p
      font-size: 16px
      color: #b7afc6
   &__row
      margin: 0 -30px
   &__col
      flex: 1 1 auto
      padding: 70px 30px 50px
      &:nth-child(1)
         flex: 0 1 300px
      &:nth-child(2)
         flex: 0 1 500px
      &:nth-child(3)
         flex: 0 1 430px
      &:not(:last-child)
         border-right: 1px solid #453f51
         
   &__logo
      margin-top: -15px
      margin-bottom: 60px
   &__copyright
      p
         max-width: 220px
         font-size: 18px
         color: #5e586b
   &__title
      margin-bottom: 10px
      +f('ban700')
   
      color: #fff
      
   &__link
      font-size: 16px
      color: $color1
      
   &__contact
      &-item
         &:not(:last-child)
            margin-bottom: 25px
         &_tel
            display: flex
            align-items: flex-start
            flex-direction: column
         &_address
            max-width: 310px
   
      &-tel
         margin-bottom: 5px
         color: #fff
         +f('ban700', 24, 24)
         +trs
         &:hover
            color: $color1
         
   &__form
      margin-top: 24px
      &-group
         margin-bottom: 15px
      &-control
         background: #332d3e
         +placeholder-color(#fff)