// begin request pop-up
+b.popup._request(data-popup-id='requestPopup', tabindex='-1', role='dialog')
  +e.container
    +e.close.js-popup-close
      +i('close')
    +e.inner
      +e.H5.title Введите ваши данные в форме ниже
      +e.FORM(action='#!' method='POST')
        +e.form-field
          +e.INPUT.input(type='text' placeholder='Ваше имя' name='' required)
        +e.form-field
          +e.INPUT.input(type='email' placeholder='Ваш email' name='' required)
        +e.form-field
          +e.INPUT.input(type='tel' placeholder='Ваш телефон' name='' pattern="^[ 0-9]+$" required)
        //+e.form-field
        //  +e.INPUT.input(type='text' placeholder='Ваш вопрос' name='')

        +e.INPUT.submit-btn.btn._yellow._xs(type='submit' value='Заказать звонок')