extends ../extend/default

block variables
	- var title = 'Home page';
	-headerClass = '_absolute';

block main
	main.content

		//begin screen
		+b.SECTION.screen(style='background-image: url(static/img/bg/screen_bg.jpg)')
			+e.container.container

				+e.inner
					+e.text
						+e.title
							h1 Продающие сайты с гарантией результата
						+e.sub-title.title-lg
							h2 Клиенты на 3-й день или вернем деньги.
						+e.descr
							p Получите бесплатную консультацию сертифицированного специалиста

					+e.FORM.form(action='#!' method='POST')
						+e.form-group.form-group._tel
							span +7
							+b.INPUT.form-control(type='text' placeholder='Введите номер телефона' name='tel' required)

						+b.INPUT.form-submit.btn._yellow._xs(type='submit' value='Позвоните мне')
		//end screen

		//begin why-us
		+b.SECTION.why-us
			+e.container.container
				+e.title.title-md
					h2 Почему стоит
						span работать именно с нами
				+e.row.row
					-
						whyList = [{
						icon: '',
						title: '10 лет',
						descr: 'на рынке ИТ'
						}, {
						icon: '',
						title: '32 специалиста',
						descr: 'в штате'
						}, {
						icon: '',
						title: '150 проектов',
						descr: 'по всей РФ в работе'
						}, {
						icon: '',
						title: 'более 30 000 запросов',
						descr: 'наших клиентов держим в ТОПе'
						}, {
						icon: '',
						title: '28% клиентов',
						descr: 'работают с нами более 5 лет'
						}, {
						icon: '',
						title: 'ТОП 5 среди seo-омпаний',
						descr: 'в Самарской области'
						}]

					mixin whyItem(item)
						+e.item
							+e.item-icon
							+e.item-title
								h4= item.title
							+e.item-descr
								p= item.descr

					each item in whyList
						+whyItem(item)

				+e.A.btn.btn._yellow._lg(href='#!') Оставить заявку на расчет стоимости
		//end why-us

		//begin issues
		+b.SECTION.issues
			+e.container.container
				+e.title.title-md
					h2 Ваша боль -
						span наше решение

				+e.block
					+e.item
						+e.count
						+e.descr
							p У моего сайта много посетителей, а заявок нет
						+e.solution
							p
								span Максимальная конверсия
								= ' '
								| от сайта, которой нам удалось добиться - 48%. Мы прооптимизируем ваш сайт в рамках продвижения.

					+e.item
						+e.count
						+e.descr
							p Сайт не приносит денег
						+e.solution
							p
								span 87% наших проектов
								= ' '
								| приносят клиентов на 3-й день работы

					+e.item
						+e.count
						+e.descr
							p Мои специалисты говорят, что что-то делают, а по факту на сайте ничего не меняется
						+e.solution
							p
								span Мы знаем свое дело на 5+
								= ' '
								| и видим издалека, над каким сайтом работают профессионалы, а над каким дилетанты. Но этого не видит наш клиент, поэтому ежемесячно мы отчитываемся о ходе работ, чтобы вы точно знали, что было сделанно в том или ином месяце.

					+e.item
						+e.count
						+e.descr
							p Мой сайт вообще не ищется в поисковиках
						+e.solution
							p Cкорее всего
								span разработчики допустили распространенную ошибку
								= ' '
								| - закрыли и потом не открыли сайт в robots.txt

					+e.item
						+e.count
						+e.descr
							p Наш сайт продвигают фрилансеры, чем вы лучше
						+e.solution
							p
								span Нас более 20 человек
								= ' '
								| и каждый обладает уникальными навыками по отношению к команде, вместе мы способны продвинуть любой ресурс, по одиночке - вряд ли.
		//end issues
			
		//begin call-block
		+b.SECTION.call-block.has-bg(style='background-image: url(static/img/bg/call-block_bg.jpg)')
			+e.container.container
				+e.FORM.form(action='#!' method='POST')
					+e.form-group.form-group
						+e.INPUT.form-control.form-control(type='text' placeholder='Какая боль у Вас?' name='' required)

					+b.INPUT.form-submit.btn._yellow._xs(type='submit' value='Перезвоните мне')
		//end call-block

		-
			servicesList = [{
			title: 'Продвижение',
			titleBr: 'по запросам',
			descr: ['- Анализ текущих позиций сайта в поисковых системах', '- Подбор ключевых фраз', '- Оптимизация', '- Вывод сайта по выбранным запросам в топ', '- Удержание сайта на максимально эфективных позициях в GOOGLE и ЯНДЕКС']
			}, {
			title: 'Продвижение молодых сайтов',
			descr: ['- Комплексное продвижение молодых сайтов', '- Анализ конкурентов и разработка  стратегий', '- Внутренняя работа с содержанием сайта', '- Использование “белых” способов оптимизации', '- Быстрый прирост трафика', '- Выгодная система оплаты']
			}, {
			title: 'Продвижение',
			titleBr: 'в регионах',
			descr: ['- Продвижение сайта одновременно в несколькох регионах', '- Охват крупных городов', '- Не требуется создание поддоменов', '- Не требуется открытие филиалов в других странах']
			}, {
			title: 'Продвижение',
			titleBr: 'по трафику',
			descr: ['- Проведение поискового аудита', '- Проверка юзабилити сайта, правильности индексации поисковиками', '- Подбор запросов', '- Работа с сайтами или доработка страниц']
			}, {
			title: 'SEO-аудит и',
			titleBr: 'разбор сайта',
			descr: ['- Анализ эффективности продвижения и оптимизации сайта', '- Анализ корректности работы функционала и HTML ', '- Планирование работ по seo']
			}, {
			title: 'Интернет-магазины',
			descr: ['- Эффективные решения для привлечения новых клиентов', '- Комплексное продвижение', '- Работа с крупными и небольшими сайтами в сфере онлайн-торговли']
			}]
		-services = { classMod: '_default', title: true }
		include ../components/services

		//begin promo
		+b.SECTION.promo.has-bg(style='background-image: url(static/img/bg/promo_bg.jpg)')
			+e.container.container
				+e.title.title-lg
					h2 ПРОДВИЖЕНИЕ ДЛЯ ЛЮБОГО РАЗМЕРА БИЗНЕСА
				+e.row.row
					+e.text
						p Мы помогаем компаниям любого размера в Google, будь то местный поиск или всероссийский. Каждая кампания по продвижению ориентирована на клиента и аудиторию и не имеет значения, новый у вас сайт или существующий.
						p Мы последовательно выполняем методики, чтобы обеспечить максимальную эффективность вашего сайта в поисковых системах Яндекс и Google. Наша работа затем отправляется вам по электронной почте со статистикой, связанной с производительностью. Напишите нам сегодня по адресу
							a(href='#!') sales@akticom.ru

					+e.img-wrap
						+e.img(style='background-image: url(static/img/content/mac.png)')
		//end promo

		-
			servicesList = [{
			title: 'Тех.поддержка',
			titleBr: 'сайтов',
			descr: ['- Контроль работы и оплаты домена и хостинга', '- Устранение ошибок, вирусов, неполадок', '- Рекомендации по повышению эффективности работы сайта', '- Отслеживание неработающих элементов  ', '- Внедрение новых функций, наполнение страниц информацией']
			}, {
			title: 'SMM',
			titleBr: 'продвижение',
			descr: ['- Тысячи "живых" подписчиков ', '- Увеличение социального отклика', '- Высокая конверсия в покупку', '- Работа с лидерами мнений', '- Первые ощутимые результаты уже через 30 дней']
			}, {
			title: 'Копирайтинг',
			descr: ['- Увеличение конверсии за счёт продающего описания товара  ', '- Качественный и уникальный seo-копирайтинг, легко воспринимающийся  читателями и удовлетворяющий роботов', '- Наличие необходимых ключевых фраз при сохранении естественности и лёгкости слога  ', '- Привлечение потенциальных клиентов, которые случайно попали на сайт', '- Создание доверительного отношения и убеждение в эксперности']
			}, {
			title: 'e-mail',
			titleBr: 'маркетинг',
			descr: ['- эффективность общения компании с клиентом посредством email - рассылок', '- Увеличение количества повторных продаж и допродаж (upsell)', '- Напоминание клиентам о недавно просмотренных товарах', '- Информирование о новых поступлениях, акциях и новостях', '- Предложение персональных скидок']
			}, {
			title: 'Контекстая',
			titleBr: 'реклама',
			descr: ['- Мощные инструменты контекстной рекламы Яндекс.Директ + Google Adwords+«Бегун»', '- Ростт продаж уже спустя два-три дня', '- Быстрая и своевременная корректировка вашей рекламной кампании ', '- Достижение максимального эффекта в комплексе с SEO', '- Анлитика стоимости вложений']
			}, {
			title: 'Управление',
			titleBr: 'репутацией бренда',
			descr: ['- Повышение лояльности клиентов', '- Помощь репутации вашего бренда', '- Донесение до конечного пользователя ключевой идеи вашего бизнеса', '- Работа с отзывами или отработка имеющегося негатива', '- формирование положительного имиджа бренда', '- Привлечение лидеров мнений']
			}]
		-services = { classMod: '_top', title: false }
		include ../components/services

		//begin team
		+b.SECTION.team.has-bg(style='background-image: url(static/img/bg/team_bg.jpg)')
			+e.container.container
				+e.title.title-md
					h2 В нашей команде выходцы
						span ТОП10 SEO-компаний
						= ' '
						| страны

				+e.descr
					p Наша команда имеет многолетний опыт работы с компаниями всех размеров и специальные знания о том, как развивать бизнес в Интернете. Мы рассматриваем SEO как ключевой инструмент ИТ-маркетинга, и если он будет работать хорошо, будет достигнута высокая отдача от инвестиций копании.
					p У каждой компании, с которой мы работаем есть разные бизнес-цели, и мы предлагаем стратегию для их достижения, выслушивая все пожелания клиентов.
					+e.contact
						p Позвоните сегодня по телефону
							a(href='tel:+74996494885') +7 (499) 649-48-85
		//end team

		//begin scheme
		+b.SECTION.scheme.has-bg(style='background-image: url(static/img/bg/scheme_bg.jpg)')
			+e.container.container
				+e.title.title-md
					h2 Схема работы с нами

				+e.block
					+e.item._right
						+e.item-count
						+e.item-content
							+e.item-text
								p Получаем вашу заявку
							+e.A.item-btn.btn._yellow._xs(href='#!') Оставить заявку

					+e.item._left
						+e.item-count
						+e.item-content
							+e.item-text
								span Анализируем текущую ситуацию.
								p Составляем медиа-план продвижение сайта.

					+e.item._right
						+e.item-count
						+e.item-content
							+e.item-text
								p
									span Прописываем все условия
									= ' '
									| и план работы в Договоре, знакомим Вас с персональным менеджером и начинаем действовать!

					+e.item._left
						+e.item-count
						+e.item-content
							+e.item-text
								p Вы получаете первые звонки и обращения уже на
									span 2-й день
									= ' '
									| после начала работ!
		//end scheme

		//begin clients
		+b.SECTION.clients
			+e.container.container
				+e.title.title-md
					h2
		//end clients

		//begin out-thanks
		+b.SECTION.out-thanks
			+e.container.container
				+e.title.title-md
					h2 Нас благодарят
				+e.photos-row.row
					-thanksList = [1, 2, 3]

					for item, i in thanksList
						a(href=`static/img/content/thanks_${i + 1}-lg.jpg` data-fancybox='thanks')
							img(src=`static/img/content/thanks_${i + 1}-sm.jpg` alt='image')
		//end out-thanks